<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="reg">
        <div class="registr ">

            <h1 class="uPay">Log in</h1>
            <a href="/reg_en.html">Registr-en</a>
            <a href="/reg_uz.html">Registr-uz</a>
            <div class="pasw">
                <form action="">
                    <div class="lab">
                        <input class="inp" type="text"  name="name" required>
                        <div class="border-bot"></div>
                        <label for="">User</label>
                    </div>
                    <div class="lab">
                        <input class="inp" type="password" required>
                        <div class="border-bot"></div>
                        <label for="">Enter your password</label>
                    </div>
                    <input class="btn"type="submit" value="Log In">
                </form>    
            </div>

            <h3 class="povered">Povered by <a href="https://t.me/horun_ar_rashid_2002">Horun ar Rashid</a></h3>            

        </div>
    </div>

</body>
</html>